.fc .fc-button-primary { color: #FFFFFF; font-weight:600; background-color: #2e90ff !important; border-radius: '80px'; border-color: #f0f0f0 !important; }

.fc-toolbar-title {color: #2c5282; font-weight: bold; text-transform: uppercase;}